<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a routerLink="/home"><img src = "https://bit.ly/2O4wvve" style =" width:70px; height:70px; border-radius: 46px"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item" >
      <a class="nav-link" routerLink="/profile">Advisors <span class="sr-only">(current)</span></a>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/search">Scenarios</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link"  routerLink="/tips">Tips and Tutorials</a>
    </li>

  </ul>
</div>
</nav>
<br><br><br><br>
<div style="text-align:center">
  <h1>Tips and Tutorials</h1>
  <br>
  <br>
  <ol style="color:black;
  font-size: 30px">
    <li>Thank you for reading this</li>
    <li>Thank you for reading this</li>
    <li>Thank you for reading this</li>
    <li>Thank you for reading this</li>
  </ol>
  <br><br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/60ItHLz5WEA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>